Debug/
Release/
!ThirdParty/**/*
.vs/
*.suo
*.sdf
*.vcxproj.user
ipch/
*.VC*
*.opensdf
.DS_Store
Build/SURubyDebugger.xcodeproj/xcuserdata
Build/SURubyDebugger.xcworkspace/xcuserdata
!SURubyDebugger.dll
